@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html {
  font-size: 12px;
  line-height: 18px;
  @media screen and (min-width: 576px) {
    font-size: 14px;
    line-height: 21px;
  }
  @media screen and (min-width: 992px) {
    font-size: 16px;
    line-height: 24px;
  }
}

* {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  color: #6b6b6c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
  color: #363738;
}

.h1 {
  font-weight: 600;
  font-size: 52px;
  line-height: 125%;
}

.h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
}

.h3 {
}

.h4 {
}

.h5 {
}

.h6 {
}
