@import "variables", "typography";

@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1240px;
  }
}

.header {
  padding: 75px 0 180px;
  @media screen and (min-width: 768px) {
    padding: 140px 0 0;
  }
  @media screen and (min-width: 992px) {
    padding: 110px 100px 170px;
  }

  &__bg {
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("img/bg_green.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media screen and (min-width: 768px) {
      background-size: 23% 100%;
      background-position: 100% 50%;
    }
    @media screen and (min-width: 992px) {
      background-size: 40% 100%;
    }
  }

  &__text {
    max-width: 525px;
    margin: 32px 0;
    color: $white;
    @media screen and (min-width: 768px) {
      margin: 40px 0 60px;
      color: $text-color;
    }
    @media screen and (min-width: 992px) {
      margin: 40px 0px;
    }
  }

  &_link {
    font-weight: 700;
    padding-bottom: 5px;
    border-bottom: 3px solid $yellow;
    margin-bottom: 40px;
  }
}
