@import "variables", "typography";

@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1240px;
  }
}

.header {
  padding: 75px 0 180px;
  @media screen and (min-width: 768px) {
    padding: 140px 0 0;
  }
  @media screen and (min-width: 992px) {
    padding: 110px 100px 170px;
  }

  &__bg {
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("img/bg_green.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media screen and (min-width: 768px) {
      background-size: 23% 100%;
      background-position: 100% 50%;
    }
    @media screen and (min-width: 992px) {
      background-size: 40% 100%;
    }
  }

  &__text {
    max-width: 525px;
    margin: 32px 0;
    color: $white;
    @media screen and (min-width: 768px) {
      margin: 40px 0 60px;
      color: $text-color;
    }
    @media screen and (min-width: 992px) {
      margin: 40px 0px;
    }
  }

  &_link {
    font-weight: 700;
    padding-bottom: 5px;
    border-bottom: 3px solid $yellow;
    margin-bottom: 40px;
  }
}

.section_features {
  margin-bottom: -125px;
  @media screen and (min-width: 768px) {
    margin-bottom: -24px;
  }

  @media screen and (min-width: 992px) {
    margin-bottom: -105px;
  }
}

.relative_top {
  position: relative;
  top: -125px;
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    top: 0px;
    margin: 40px auto 90px;
  }

  @media screen and (min-width: 992px) {
    top: -105px;
    margin: 0 auto 100px;
  }
}

.features {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  &__padding {
    padding: 24px 30px 8px;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    box-shadow: none;
    border-radius: 0;
    padding-top: 0;
  }

  @media (min-width: 992px) {
    padding: 40px 0px 55px;
  }
}

.feature-item {
  margin-bottom: 24px;

  &_title {
    margin: 16px 0 12px;
    @media (min-width: 992px) {
      max-width: 230px;
    }
  }

  &_text {
    @media (min-width: 992px) {
      max-width: 230px;
    }
  }

  &_image {
    margin-right: 32px;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
    padding: 32px 140px 40px 32px;
  }

  @media (min-width: 992px) {
    padding: 0px 120px 0px 64px;
    border-right: 1px solid #d7d7dd;
    margin-bottom: 0;
  }
}

.title_question {
  margin-bottom: 32px;
}

.text_question {
  margin-bottom: 48px;
  @media screen and (min-width: 992px) {
    margin-bottom: 40px;
  }
}

.question {
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 30px;
    left: 16px;
    height: 24px;
    width: 24px;
    background: #ffffff;
    border: 1px solid #cbcbcd;
    border-radius: 50%;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2);

    @media screen and (min-width: 768px) {
      top: 40px;
      left: 34px;
    }

    @media screen and (min-width: 992px) {
      top: 50px;
      left: 40px;
    }

    &:after {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      left: 6px;
      top: 6px;
      background: #0b7572;
      position: absolute;
      display: none;
    }
  }

  &_title {
    margin-bottom: 16px;
  }

  &_label {
    cursor: pointer;
    position: relative;
    max-width: 690px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    padding: 30px 24px 32px 55px;
    margin-bottom: 10px;
  }

  input:checked + label .checkmark:after {
    display: block;
  }

  input:checked + label {
    border: 1px solid #0b7572;
  }

  @media screen and (min-width: 768px) {
    &_label {
      padding: 40px 125px 50px 95px;
      background: url(img/bg_label.svg) no-repeat right bottom;
    }
  }

  &_results {
    font-size: 20px;
    padding-top: 170px;
    padding-left: 100px;

    &__underline {
      display: inline-block;
      padding-bottom: 16px;
      border-bottom: 3px solid #ffce50;
    }

    &_number {
      font-size: 54px;
      color: #000;
    }
  }
}

.why_us {
  margin: 64px 0 60px;

  @media screen and (min-width: 768px) {
    margin: 90px 0 100px;
  }

  @media screen and (min-width: 992px) {
    margin: 100px 0 120px;
  }

  &_image {
    @media screen and (min-width: 768px) {
      background-image: url(img/why_us_green.png), url(img/why_us_car.png);
      background-repeat: no-repeat, no-repeat;
      background-position: -20px, 80px;
      background-size: auto 100%, auto 100%;
      height: 380px;
    }

    @media screen and (min-width: 992px) {
      background-position: 0px, 80px;
      height: 450px;
    }

    @media screen and (min-width: 1140px) {
      background-position: 0px, 180px;
    }
  }

  &_header {
    @media screen and (min-width: 768px) {
      h2 {
        color: white;
      }
    }
  }

  &_main {
    margin-top: 48px;
  }

  &_feature {
    &_item {
      margin-bottom: 38px;
      @media screen and (min-width: 768px) {
        margin-bottom: 48px;
      }

      &_image {
        margin-right: 16px;
        @media screen and (min-width: 768px) {
          width: 88px;
          margin-right: 48px;
        }
      }

      &_title {
        margin-bottom: 12px;
        @media screen and (min-width: 768px) {
          margin-bottom: 16px;
        }
      }

      &_textblock {
        max-width: 400px;
      }
    }
  }
}
