@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html {
  font-size: 14px;
  line-height: 150%;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 16px;
    line-height: 24px;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

p {
  margin: 0;
  padding: 0;
  color: #6b6b6c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  color: #363738;
}

h1 {
  font-size: 28px;
  line-height: 125%;
  color: #fff;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 125%;
}

h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 135%;
}

a {
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 44px;
    line-height: 125%;
    color: #363738;
  }
  h2 {
    font-size: 44px;
    line-height: 125%;
  }
  h3 {
    font-size: 20px;
    line-height: 135%;
  }
  a {
    color: #6b6b6c;
  }
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 52px;
    line-height: 125%;
  }
  h2 {
    font-size: 48px;
    line-height: 125%;
  }
  h3 {
    font-size: 20px;
    line-height: 135%;
  }
}

@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1240px;
  }
}

.header {
  padding: 75px 0 180px;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 140px 0 0;
  }
}

@media screen and (min-width: 992px) {
  .header {
    padding: 110px 100px 170px;
  }
}

.header__bg {
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("img/bg_green.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .header__bg {
    background-size: 23% 100%;
    background-position: 100% 50%;
  }
}

@media screen and (min-width: 992px) {
  .header__bg {
    background-size: 40% 100%;
  }
}

.header__text {
  max-width: 525px;
  margin: 32px 0;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .header__text {
    margin: 40px 0 60px;
    color: #6b6b6c;
  }
}

@media screen and (min-width: 992px) {
  .header__text {
    margin: 40px 0px;
  }
}

.header_link {
  font-weight: 700;
  padding-bottom: 5px;
  border-bottom: 3px solid #ffce50;
  margin-bottom: 40px;
}

.section_features {
  margin-bottom: -125px;
}

@media screen and (min-width: 768px) {
  .section_features {
    margin-bottom: -24px;
  }
}

@media screen and (min-width: 992px) {
  .section_features {
    margin-bottom: -105px;
  }
}

.relative_top {
  position: relative;
  top: -125px;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .relative_top {
    top: 0px;
    margin: 40px auto 90px;
  }
}

@media screen and (min-width: 992px) {
  .relative_top {
    top: -105px;
    margin: 0 auto 100px;
  }
}

.features {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.features__padding {
  padding: 24px 30px 8px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .features {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
    padding-top: 0;
  }
}

@media (min-width: 992px) {
  .features {
    padding: 40px 0px 55px;
  }
}

.feature-item {
  margin-bottom: 24px;
}

.feature-item_title {
  margin: 16px 0 12px;
}

@media (min-width: 992px) {
  .feature-item_title {
    max-width: 230px;
  }
}

@media (min-width: 992px) {
  .feature-item_text {
    max-width: 230px;
  }
}

.feature-item_image {
  margin-right: 32px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .feature-item {
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
    padding: 32px 140px 40px 32px;
  }
}

@media (min-width: 992px) {
  .feature-item {
    padding: 0px 120px 0px 64px;
    border-right: 1px solid #d7d7dd;
    margin-bottom: 0;
  }
}

.title_question {
  margin-bottom: 32px;
}

.text_question {
  margin-bottom: 48px;
}

@media screen and (min-width: 992px) {
  .text_question {
    margin-bottom: 40px;
  }
}

.question input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.question .checkmark {
  position: absolute;
  top: 30px;
  left: 16px;
  height: 24px;
  width: 24px;
  background: #ffffff;
  border: 1px solid #cbcbcd;
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .question .checkmark {
    top: 40px;
    left: 34px;
  }
}

@media screen and (min-width: 992px) {
  .question .checkmark {
    top: 50px;
    left: 40px;
  }
}

.question .checkmark:after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: 6px;
  top: 6px;
  background: #0b7572;
  position: absolute;
  display: none;
}

.question_title {
  margin-bottom: 16px;
}

.question_label {
  cursor: pointer;
  position: relative;
  max-width: 690px;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  padding: 30px 24px 32px 55px;
  margin-bottom: 10px;
}

.question input:checked + label .checkmark:after {
  display: block;
}

.question input:checked + label {
  border: 1px solid #0b7572;
}

@media screen and (min-width: 768px) {
  .question_label {
    padding: 40px 125px 50px 95px;
    background: url(img/bg_label.svg) no-repeat right bottom;
  }
}

.question_results {
  font-size: 20px;
  padding-top: 170px;
  padding-left: 100px;
}

.question_results__underline {
  display: inline-block;
  padding-bottom: 16px;
  border-bottom: 3px solid #ffce50;
}

.question_results_number {
  font-size: 54px;
  color: #000;
}

.why_us {
  margin: 64px 0 60px;
}

@media screen and (min-width: 768px) {
  .why_us {
    margin: 90px 0 100px;
  }
}

@media screen and (min-width: 992px) {
  .why_us {
    margin: 100px 0 120px;
  }
}

@media screen and (min-width: 768px) {
  .why_us_image {
    background-image: url(img/why_us_green.png), url(img/why_us_car.png);
    background-repeat: no-repeat, no-repeat;
    background-position: -20px, 80px;
    background-size: auto 100%, auto 100%;
    height: 380px;
  }
}

@media screen and (min-width: 992px) {
  .why_us_image {
    background-position: 0px, 80px;
    height: 450px;
  }
}

@media screen and (min-width: 1140px) {
  .why_us_image {
    background-position: 0px, 180px;
  }
}

@media screen and (min-width: 768px) {
  .why_us_header h2 {
    color: white;
  }
}

.why_us_main {
  margin-top: 48px;
}

.why_us_feature_item {
  margin-bottom: 38px;
}

@media screen and (min-width: 768px) {
  .why_us_feature_item {
    margin-bottom: 48px;
  }
}

.why_us_feature_item_image {
  margin-right: 16px;
}

@media screen and (min-width: 768px) {
  .why_us_feature_item_image {
    width: 88px;
    margin-right: 48px;
  }
}

.why_us_feature_item_title {
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .why_us_feature_item_title {
    margin-bottom: 16px;
  }
}

.why_us_feature_item_textblock {
  max-width: 400px;
}
/*# sourceMappingURL=main.css.map */